src/main/resources/note.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.cninfo.com.cn"
           xmlns="http://www.cninfo.com.cn"
           elementFormDefault="qualified">

    <xs:element name="note" type="noteType"/>
    <xs:complexType name="noteType">
        <xs:sequence>
            <xs:element type="xs:string" name="to"/>
            <xs:element type="xs:string" name="from"/>
            <xs:element type="xs:string" name="heading"/>
            <xs:element type="xs:string" name="body"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>